header {
    background: rgba(255, 255, 255, 0.9); 
    padding: 2%;
    border-bottom: 1px solid rgba(29, 79, 226, 0.7);
    text-align: center;

    h1 {
        display: inline-block;
        width: 30%;
        text-align: left;
        letter-spacing: 3px !important;
        color: #1D4FE2;
        font-weight: bold;
    }
    
    nav {
        display: inline-block;
        text-align: right;
        width: 70%;

        button {
            background: #B01DE2 !important;
            color: #fff !important;
            margin-right: 10px;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);

            &:hover {
                background: #E21DB2 !important;
            }
        }
    }

    .pagination {
        display: inline-block;
        margin-top: 15px;

        span {
            font-size: 12px;
            line-height: 29px;
            display: inline-block;
            vertical-align: top;
        }

        button {
            background: transparent !important;
            border: none !important;
            cursor: pointer;

            mat-icon {
                color: #B01DE2 !important;
            }

            &:hover {

                mat-icon {
                    color: #E21DB2 !important;
                }
            }
        }
    }
}