<div class="modal-wrapper">
    <h2>{{data.name}}</h2>

    <img src="{{data.img}}" />

    <div class="value-wrapper">
        <span class="label">Weight</span>
        <span class="value">{{data.weight}}</span>
    </div>
    <div class="value-wrapper">
        <span class="label">Height</span>
        <span class="value">{{data.height}}</span>
    </div>
    
    <h3>Abilities</h3>
    <div *ngFor="let ability of data.abilities">
        <div class="value-wrapper">
            <span class="value">{{ability.name}}</span>
        </div>
    </div>
    
    <h3>Stats</h3>
    <div *ngFor="let stat of data.stats">
        <div class="value-wrapper">
            <span class="label">{{stat.name}}</span>
            <span class="value">{{stat.value}}</span>
        </div>
    </div>
    
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="voteForPokemon(data)">Vote</button>
</div>