<div class="inner-wrapper" *ngIf="voteArray.length">
    <h2><i>Vote for a Pokemon!</i></h2>

    <mat-card *ngFor="let pokemon of voteArray">
        <mat-card-content>
            <h3>{{pokemon.name}}</h3>
            <img src="{{pokemon.img}}" />
            <div class="value-wrapper">
                <span class="label">Height</span>
                <span class="value">{{pokemon.height}}</span>
            </div>
            <div class="value-wrapper">
                <span class="label">Weight</span>
                <span class="value">{{pokemon.weight}}</span>
            </div>
            <button mat-button (click)="openDialog(pokemon)">Details</button>
            <button mat-button (click)="voteForPokemon(pokemon)">Vote</button>
        </mat-card-content>
    </mat-card>
</div>
