/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    background: url('/assets/img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h2 {
    color: #fff;
}

.inner-wrapper {
    padding: 1%;
}

.value-wrapper {
    margin-bottom: 15px;

    span {
        display: inline-block;
        width: 50%;
        font-size: 12px;
        text-indent: 2%;
    }

    .label {
        font-weight: bold;
        width: 50%;
    }
}