/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    background: url('/assets/img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

h2 {
    color: #fff;
}

.inner-wrapper {
    padding: 1%;
}

.value-wrapper {
    margin-bottom: 15px;

    span {
        display: inline-block;
        width: 50%;
        font-size: 12px;
        text-indent: 2%;
    }

    .label {
        font-weight: bold;
        width: 50%;
    }
}

.modal-wrapper {
    padding: 3%;

    h2 {
        color: #000;
    }

    h3 {
        font-weight: bold;
    }

    button {
        background: #B01DE2 !important;
        color: #fff !important;
        margin-right: 10px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);

        &:hover {
            background: #E21DB2 !important;
        }
    }
}